/* Inter (Variable) */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}

/* Space Grotesk */
@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/Space-Grotesk/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/Space-Grotesk/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}